/*로그인 회원가입*/
#login {
    display: block;
    text-align: right;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: dimgray;
}

/*header*/
body {
    font-family: "Noto Sans KR", sans-serif !important;
  }
  .menu #font{
      display: block;
      text-align: left;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .menu{
      border-bottom:solid 1px black  ;
      margin: 0px 10px 0px 10px;
  }
  .menu span a img{
    width: 100px;
    height: 50px;
  }
  
  .menu > span {
    display: block;
    padding: 0 30px;
    border-radius: 7px;
    text-align: right;
  }
  
  .menu > span > nav {
    display: inline-block;
    
  }
  
  .menu > span > nav > a {
    display: block;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    
  }

  #font{
    position: relative;
    top:10px;
  }





/*content*/

main{
    text-align: center;
    
}
 main article #logo img{
    width: 500px;
    height: 500px;
    text-align: center;
}


/*search*/
.search {
    text-align: center;
    margin: 15px 0px 15px 0px;
  }
  
  input {
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
    margin: 15px 0px 15px 0px;
  }
  .btn {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #000000);
    background-image: -moz-linear-gradient(top, #000000, #000000);
    background-image: -ms-linear-gradient(top, #000000, #000000);
    background-image: -o-linear-gradient(top, #000000, #000000);
    background-image: linear-gradient(to bottom, #000000, #000000);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    text-shadow: 0px 0px 0px #666666;
    -webkit-box-shadow: 5px 4px 8px #120012;
    -moz-box-shadow: 5px 4px 8px #120012;
    box-shadow: 5px 4px 8px #120012;
    font-family: Georgia;
    color: #ffffff;
    font-size: 15px;
    padding: 9px 25px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #939799;
    text-decoration: none;
  }




/*footer*/
footer{
    text-align:center;
    border-top:solid 1px black ;
    margin-left: 10px;
    margin-right: 10px;
   
    
}


